*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

body{
  background: #0277bd;
}

#dice-main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dice-sub-container{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #e1f5fe;
}

#dice-sub-container:hover{
  transition: .3s ease-in-out;
  transform: translateY(-20px);
  box-shadow: 10px 12px 5px 6px rgba(0, 0, 0, 0.35);
}

.header-container{
  text-align: center;
  margin: 10px 0px;
}

.score-container{
  margin-bottom: 10px;
}

.dice-container{
  margin: 20px;
  min-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-button{
  margin-right: 20px;
}
#secret-button{
  margin-left: 20px;
}
